/* Elements
==================================
--- Headings, Copy
------------------------------ */

h1, h2, h3, h4, h5, h6 {
	color: $header_color;
	font-family: $header_font_family;
	font-weight: $header_font_weight;
}

h1 {
	font-size: rem(48px);
	margin-bottom: rem(20px);
	@include breakpoint('large') {
		font-size: rem(80px);
		margin-bottom: rem(30px);
	}
}

h2 {
}

h3 {
}

h4 {
}