/* Elements
==================================
--- Page
------------------------------ */

html {
	height: 100%;
}


body {
	background: url('../img/bg_seamless.jpg');
	background-attachment: fixed;
	font-family: $paragraph_font_family;
	line-height: $base_line_height;
	overflow: auto;
	height: 100%;
}

@keyframes background-animation {
	0% {
		opacity: 0.8;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 0.8;
	}
}

@keyframes background-animation-alt {
	0% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.8;
	}

	100% {
		opacity: 0.2;
	}
}