/* Elements
==================================
--- Page
------------------------------ */

body {
	background: url('../img/bg_seamless.jpg');
	font-family: $paragraph_font_family;
	line-height: $base_line_height;
}