/* Generic
==================================
--- Shared
------------------------------ */

.site-header,
.site-footer {
	position: relative;
	z-index: 4;
}

.site-footer {
	width: 100%;
	text-align: center;

	.site-info {
		
	}
}

